#body {
  padding: 30px 0;
}
#body::after {
  content: "";
  display: block;
  clear: both;
}
#body .block {
  margin-bottom: 20px !important;
}
#body .block::after {
  content: "";
  display: block;
  clear: both;
}
#body .block h2 {
  margin-bottom: 8px;
  line-height: 1.5em;
  font-size: 24px;
  font-weight: 500;
}
#body .block h2 i.layui-icon {
  color: #ffa000;
  font-size: inherit;
}
#main {
  float: left;
  width: 1216px;
}
#main .block.focus {
  margin: -8px;
}
#main .block.focus .item {
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  margin: 8px;
  border-radius: 8px;
  overflow: hidden;
}
#main .block.focus .item:hover .cover {
  transform: scale(1.1);
}
#main .block.focus .item:hover .summary {
  bottom: 0;
}
#main .block.focus .item:first-child {
  width: 335px;
  height: 335px;
}
#main .block.focus .item:first-child .summary {
  bottom: 0;
  padding: 10px;
}
#main .block.focus .item:first-child .summary .name {
  margin: 5px 0;
  color: #ffffff;
  font-size: 18px;
}
#main .block.focus .item:first-child .summary .title {
  font-size: 16px;
  color: #999;
}
#main .block.focus .item .cover {
  width: 100%;
  height: 100%;
  transition: all .6s;
}
#main .block.focus .item .summary {
  position: absolute;
  bottom: -31px;
  width: 100%;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: all .2s;
}
#main .block.focus .item .summary .name {
  color: #ffa000;
}
#main .block.new .list {
  margin: -8px;
  overflow: hidden;
}
#main .block.new .item {
  position: relative;
  float: left;
  width: 160px;
  margin: 8px;
  border-radius: 8px;
  background: #ffffff;
  overflow: hidden;
}
#main .block.new .item .cover {
  width: 100%;
  height: 100%;
  transition: all .6s;
}
#main .block.new .item .summary {
  padding: 5px 10px;
}
#main .block.new .item .summary .name {
  font-size: 12px;
}
#main .class {
  width: 1240px;
  margin-left: -8px;
}
#main .block.tag1,
#main .block.tag2,
#main .block.tag3,
#main .block.tag4 {
  float: left;
  width: 294px;
  margin: 8px;
}
#main .block.tag1 .list,
#main .block.tag2 .list,
#main .block.tag3 .list,
#main .block.tag4 .list {
  margin: -8px;
  overflow: hidden;
}
#main .block.tag1 .item,
#main .block.tag2 .item,
#main .block.tag3 .item,
#main .block.tag4 .item {
  position: relative;
  float: left;
  width: 135px;
  margin: 8px;
  border-radius: 8px;
  background: #ffffff;
  overflow: hidden;
}
#main .block.tag1 .item .cover,
#main .block.tag2 .item .cover,
#main .block.tag3 .item .cover,
#main .block.tag4 .item .cover {
  width: 100%;
  height: 100%;
  transition: all .6s;
}
#main .block.tag1 .item .summary,
#main .block.tag2 .item .summary,
#main .block.tag3 .item .summary,
#main .block.tag4 .item .summary {
  padding: 2px 8px;
  overflow: hidden;
}
#main .block.tag1 .item .summary .name,
#main .block.tag2 .item .summary .name,
#main .block.tag3 .item .summary .name,
#main .block.tag4 .item .summary .name {
  float: left;
  font-size: 12px;
}
#main .block.tag1 .item .summary .numbers,
#main .block.tag2 .item .summary .numbers,
#main .block.tag3 .item .summary .numbers,
#main .block.tag4 .item .summary .numbers {
  float: right;
  font-size: 12px;
}
#main .block.streamer .list {
  margin: -8px;
  overflow: hidden;
}
#main .block.streamer .item {
  position: relative;
  float: left;
  width: 160px;
  margin: 8px;
  border-radius: 8px;
  background: #ffffff;
  overflow: hidden;
}
#main .block.streamer .item .cover {
  width: 100%;
  height: 100%;
  transition: all .6s;
}
#main .block.streamer .item .summary {
  padding: 5px 10px;
}
#main .block.streamer .item .summary .numbers {
  font-size: 12px;
}
#main .block.streamer .item .summary .numbers i {
  font-size: inherit;
}
#side {
  float: right;
  width: 335px;
}
#side .block {
  margin-bottom: 20px;
}
#side .block .item {
  display: table;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #f7f7f7;
  background: #ffffff;
}
#side .block .item.big {
  height: 68px;
}
#side .block .item.big .avatar img {
  width: 48px;
  height: 48px;
  margin-left: 0;
}
#side .block .item .ranking {
  display: table-cell;
  width: 60px;
  vertical-align: middle;
  text-align: center;
}
#side .block .item .ranking img {
  width: 20px;
}
#side .block .item .avatar {
  display: table-cell;
  width: 70px;
  vertical-align: middle;
  text-align: left;
}
#side .block .item .avatar img {
  width: 40px;
  height: 40px;
  margin-left: 3px;
  border-radius: 50%;
}
#side .block .item .info {
  display: table-cell;
  vertical-align: middle;
}
#side .block .item .info .numbers {
  font-size: 12px;
}
#side .block .item .info .numbers i {
  font-size: inherit;
}
#side .block.hot .item .info i.layui-icon {
  color: #ffa000;
}
#side .block.streamer h2 {
  overflow: hidden;
}
#side .block.streamer h2 > span {
  float: left;
}
#side .block.streamer h2 .period {
  float: right;
  font-weight: 400;
  font-size: 16px;
}
#side .block.streamer h2 .period a.active {
  color: #ffa000;
}
#side .block.toff h2 {
  overflow: hidden;
}
#side .block.toff h2 > span {
  float: left;
}
#side .block.toff h2 .period {
  float: right;
  font-weight: 400;
  font-size: 16px;
}
#side .block.toff h2 .period a.active {
  color: #ffa000;
}
