#header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
#leftBar {
  position: fixed;
  top: 0;
  width: 180px;
  height: 100%;
  padding-top: 100px;
  color: #c7c7c7;
  background: #27292a;
  font-size: 16px;
}
#leftBar .title {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}
#leftBar .nav {
  text-align: center;
}
#leftBar .nav a {
  display: block;
  margin: 30px 0;
  padding: 0 40px;
  color: inherit;
}
#leftBar .nav a:hover {
  color: #ffd727;
}
#main {
  margin-top: 70px;
  margin-left: 220px;
}
#main .tags {
  padding-top: 15px;
  overflow: hidden;
}
#main .tags .item {
  float: left;
  margin: 15px 5px;
  padding: 3px 15px;
  border: 1px solid #c7c7c7;
  border-radius: 15px;
  font-size: 12px;
  background: #ffffff;
}
#main .tags .item.active {
  background: #ffd727;
}
#main .list {
  margin: -8px;
  overflow: hidden;
}
#main .list .item {
  position: relative;
  float: left;
  width: 180px;
  margin: 8px;
  border-radius: 8px;
  background: #ffffff;
  overflow: hidden;
}
#main .list .item .cover {
  width: 100%;
  height: 100%;
  transition: all .6s;
}
#main .list .item .summary {
  padding: 5px 10px;
}
#main .list .item .summary .numbers {
  font-size: 12px;
}
#main .list .item .summary .numbers i {
  font-size: inherit;
}
#main .pager {
  margin: 30px 0 100px;
  text-align: center;
}
#main .pager .item {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
}
#main .pager .item.active {
  font-weight: 700;
  background: #ffd727;
}
